<form method="post" action="{{ path('artists_delete', {'artistid': artist.artistid}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ artist.artistid) }}">
    <button class="btn btn-danger m-1">Effacer</button>
</form>
